%full-image {
	@include background-size(cover);
	background-position: center;
  color: white;
  a {
    @include link-colors(white,$link-base);
  }
}
@mixin paper-bg($color, $blend) {
  background-image: url(/images/construction-paper-texture-tile.jpg);
  background-size: auto;
  background-color: $color;
  background-blend-mode: $blend;
  .no-backgroundblendmode & {
    background-image: none;
  }
}
%paper-bg--purple {
  @include paper-bg(#625975,color-burn);
}
%paper-bg--orange {
  @include paper-bg(#e2ac67,multiply);
}
%paper-bg--blue {
  @include paper-bg(rgba(64, 95, 210, 0.8),color-burn);
  .no-backgroundblendmode & {
    background-color: rgb(64, 95, 210);
  }
}
// Triangle helper mixin
// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
// @param {Color} $color [currentcolor] - Triangle color 
// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-#{opposite-position($direction)}: ($size * 1.5) solid $color;
  
  $perpendicular-borders: $size solid transparent;
  
  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}

// end Triangle

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}



@mixin background-image-retina($file, $type, $width: 100%, $height: auto) {
  background-image: url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}