$serif: 'Alegreya', serif;
$sans-serif: 'Alegreya Sans', sans-serif;

$small-portrait: 580px;
$drop-nav-max: 920px;
$grid-shift: 1000px;
$max-width: 1100px;

$purple: #e17ccd;
$orange: #e2ac67;
$green: #74d065;
$yellow: #fbdc5f;

$base-margin: 1em;
$pad: 1em;
$link-base: #268beb;