.block-before
.block-core
 .block-inner
  %h2 Community Building
  %p Wind in the Willows values community and the young child's place in it. We encourage parents, grandparents and other close family members to volunteer by reading at story time, leading an art project or organizing a special activity. Your presence in the classroom is welcomed and helps children connect their home and school&nbsp;experiences.
  %p Parent education nights are held to discuss growth and development issues with an early childhood education professional. Additional workshops address specific topics such as kindergarten readiness, sensory integration, and choosing an elementary&nbsp;school.
.block-after