%footer
 .container 
  %p For more information about <b>Wind in the Willows Early Learning Center</b>, current tuition rates, or to schedule a visit to the school, please call <b>415.333.7166</b> or email <a href="mailto:info@windinthewillows.org"><b>info@windinthewillows.org</b></a>.
  %nav
   %ul.footer-links      
    %li
     = link_to 'About Us <i>(Home)</i>', '/index.html'
    %li
     = link_to 'Educational Program', '/program.html'
    %li
     = link_to 'Enrollment and Applying', '/enroll.html'
    %li
     = link_to 'Questions', '/questions.html'