%h3 Hours of Operation
.data-table
 .row
  .label A.M. Session
  .data <i>Drop off:</i>&nbsp;&nbsp;<span class="hours-time">8:30-8:45</span> a.m.<br><i>Pick up:</i>&nbsp;&nbsp;<span class="hours-time">12:45-1:00</span> p.m.
 .row
  .label P.M. Session
  .data <i>Drop off:</i>&nbsp;&nbsp;<span class="hours-time">1:00-1:15</span> p.m.<br><i>Pick up:</i>&nbsp;&nbsp;<span class="hours-time">5:30</span> p.m.
 .row
  .label Transitional Kindergarten
  .data <i>Drop off:</i>&nbsp;&nbsp;<span class="hours-time">8:30-8:45</span> a.m.<br><i>Pick up:</i>&nbsp;&nbsp;<span class="hours-time">2:30</span> p.m.
 .row
  .label Extended Care
  .data <i>until</i> <span class="hours-time">5:30</span> p.m.