.block-center
 %h2 Mission
 %p Wind in the Willows provides a holistic learning environment which gives young children time to develop skills and relationships that will last a lifetime. Our program incorporates families and the larger community to support and nurture our youngest members as they blossom and become socially competent, emotionally aware and cognitively ready to be life long&nbsp;learners.