.block-before
.block-core
 .block-inner
  %h2 Philosophy
  %p Every family is welcome at Wind in the Willows. We strive to reflect all racial, cultural and economic segments of the community. Our developmentally appropriate curriculum recognizes the value of children learning through play, at their own pace and within a context that is meaningful to them. We provide a safe and nurturing environment that emphasizes creativity, socialization, motor skills and emotional and cognitive&nbsp;development.
.block-after