.block-left 
 %h2 Staff
 %p The educational staff of one director and six teachers has a wealth of experience in early childhood education. Our staff works closely together to develop curriculum, direct the daily operations of the school, and administer the policies set forth by the Board of&nbsp;Directors.
.block-image
 %img{:src => "/images/staff.jpg", :class => "staff-image", :alt => "2015-2016 Wind in the Willows staff"}
 %p.caption 2015-2016 Wind in the Willows staff