.enroll-intro
 .container
  %h2 Enrollment
  %p Wind in the Willows offers two half day Preschool programs: Morning and Afternoon, as well as a Transitional Kindergarten. Preschoolers may attend 3, 4 or 5 days a week, while our TK is 5 days a week. All programs are intentionally kept small to allow the teachers to get to know each child well, and to provide a social environment that isn't overwhelming. Our teacher to child ratio is 1:6. A limited amount of tuition assistance is available.
  %p Our group is composed of children aged 2.9 to 5 years old. In the interests of the child, we request that mixed-age siblings attend separate sessions; however, one day of overlap is obviously necessary. Twins are allowed to be in the same program.
/ .enroll-tour
/  .container-block-left
/   .block-before
/   .block-core
/    .block-inner
/     %h2 Tour
/     = render_partial 'tour'
/   .block-after
.enroll-app-process
 .container-block-double-unequal
  .block-inner
   %h2 The Application Process
   .block-column-1
    %p Call or email the school at anytime to request information and an application. Applications may be sent in at any time, there is no deadline or age requirement. All applications are grouped by birth year; there is no penalty or privilege for getting an application in early.
    %p Enrollment at Wind in the Willows begins at age 2.9 years. To be eligible for September enrollment and tours, children must turn 3 before the end of December.
    %p Note: We are also using KidAdmit.com to accept applications.
   .block-column-2
    .data-table
     .row
      .label October-February
      .data When tours begin, call 415.333.7166 or email <a href="mailto:leah@windinthewillows.org">leah@windinthewillows.org</a> with your child's name, date of birth, and phone number to schedule a visit. Tours are reserved for families whose children will be eligible for the following school year.
     .row
      .label November-January
      .data Current families submit re-enrollment requests for the following fall, and sibling requests are put on the schedule. <em>Sibling families have priority.</em>
     .row
      .label March
      .data Once openings are determined new families will be notified and have one week to decide whether or not to accept. First month’s tuition and fees are required to secure a spot. Enrollment is balanced by age, gender, and reflects all ethnic, racial and economic segments of the community.
     .row
      .label April-May
      .data Enrollment packets are mailed out.
     .row
      .label August
      .data New students and their families are invited to an hour and a half <i>Welcoming Day</i> at the School.