%div.mission#mission{:name => 'mission'}
 %div.container
  = render_partial 'mission'
%div.philosophy
 %div.container-block-right
  = render_partial 'philosophy'
%div.staff
 %div.container 
  = render_partial 'staff'
%div.community
 %div.container-block-left
  = render_partial 'community'