.questions-body
 .container-block-double-unequal
  .block-column-1
   %h2 Parents
   %p If you would like to join the Wind in the Willows Yahoo Group, you can request an invitation from <a href="mailto:witwkids-owner@yahoogroups.com">witwkids-owner@yahoogroups.com</a>.
  .block-column-2
   %h3
   %p