.program-intro.parallax-window{'data-parallax' => 'scroll', 'data-image-src' => '/images/program.jpg', 'data-speed' => '0.7', 'data-bleed' => '35'}
 .container
  %h2 Our Program
  %p Play is the work of the young child, and our educational program meets their needs with a curriculum including literacy, art, music, dance/movement, science/nature, pre-math and pre-reading&nbsp;activities.
.program-cont
 .container-block-left-tight
  .block-before
  .block-core
   .block-inner
    %p A low teacher/student ratio of 1:6 gives our staff ample time with each child to recognize specific learning modalities and needs, and allows children to learn at an individual&nbsp;pace.
    %p We encourage children to be creative with art materials, problem-solving activities and dramatic play with friends. We also help them learn effective communication skills they can use to express their feelings and work through&nbsp;disagreements.
  .block-after
.daily-overview 
 .container
  / .activity-block--intro
  /  %h3 Our Day
  /  %p Each daily session follows a reassuring routine that allows creativity and choice.&nbsp;These include:
  .activity-blocks 
   .activity-block.activity-block--intro
    %h3 Our Day
    %p Each daily session follows a reassuring routine that allows creativity and choice.&nbsp;These include:
   .activity-block.activity-block--choosing
    %h4 Choosing Time
    %p Children select among various indoor and outdoor activities such as painting, manipulative toys, dramatic play, dress up and sand and water&nbsp;play.
   .activity-block.activity-block--group
    %h4 Group Time
    %p All children gather in a circle to participate in movement, singing, music or discussion of a specific theme. On Sharing Days, children are encouraged to bring something special from&nbsp;home.
   .activity-block.activity-block--snack
    %h4 Snack
    %p Each child brings a healthy snack and beverage in his or her own lunch&nbsp;box.
   .activity-block.activity-block--outdoor
    %h4 Outdoor Play
    %p We have our own private play yard, which includes a sandbox, climbing equipment, custom play structure, and small&nbsp;garden.
   .activity-block.activity-block--story
    %h4 Story/Song Time 
    %p We end each day by coming together to read stories and&nbsp;sing.
   .activity-block.activity-block--image.image--playground
    %p The playground in the backyard of WITW.
   .activity-block.activity-block--image.image--sandtable
    %p A sand table at WITW.    
   .activity-block.activity-block--image.image--mats
    %p Playing on the mats.    
   / .activity-block.activity-block--image.image--books
   /  %p Part of the WITW's library.
.program-kindergarten
 .container-block-left
  .block-before
  .block-core
   .block-inner
    %h3 Transitional Kindergarten 
    %p The Transitional Kindergarten (TK) program was established in 2013 to accommodate families whose children s birth dates made them ineligible for the San Francisco Unified School District (5 years old after September 1). Our program is offered Monday through Friday from 8:30 a.m. to 2:30 p.m. Specific teacher-led activities allow this smaller group of older students to develop more rigorous academic and emotional skill sets required in kindergarten. This program bridges the transition between preschool and kindergarten, but is still based on experiential, joyful learning in a developmentally-appropriate&nbsp;context.
  .block-after
.program-extended
 .container-block-double
  .block-inner-open
   .block-column-1
    %h3 Extended Care
    %p For an additional cost children in the Transitional Kindergarten program may stay in the extended care program from 2:30pm to&nbsp;5:30pm.
   .block-column-2
    %h3 Days of Operation
    %p Our schedule generally follows the San Francisco Unified School District calendar for holidays and vacations. Each school year begins after Labor Day and is completed in mid&nbsp;June.
%div.hours
 %div.container-block-left
  .block-before
  .block-core
   .block-inner
    = render_partial 'hours'
  .block-after