.enroll {
    &-intro {
        @extend %full-image;
		@extend %homepadding;
        // background-image: url(/images/slots.jpg);
        background-position: center bottom;
        text-align: center;

        p {
            max-width: 30em;
            margin: 0 auto 1em;
        }
    }
  //   &-tour {
  //       @extend %full-image;
		// @extend %homepadding;
  //       background-image: url(/images/philo_bg.jpg);    	
  //   }
    &-app-process {
    	@extend %full-image;
    	@extend %homepadding;
    	// background-image: url(/images/crayon_lines.jpg);
        @include background-image-retina('/images/crayon_lines', 'jpg', 1400px, 687px);
        @include breakpoint(0 $small-portrait) {
        .block-inner {
            margin-top:2em;
            margin-bottom: 2em;
        }
    }
        .data-table {
            .label {
                @include breakpoint($drop-nav-max) {
                width: 25%;
                }
            }
        }
    }
}